@model DiscussionForum.Models.Question

@{
    ViewData["Title"] = "CreateQue";
}

<h1>CreateQue</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQue">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question_Title" class="control-label"></label>
                <input asp-for="Question_Title" class="form-control" />
                <span asp-validation-for="Question_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question_Description" class="control-label"></label>
                <input asp-for="Question_Description" class="form-control" />
                <span asp-validation-for="Question_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionCreateAt" class="control-label"></label>
                <input asp-for="QuestionCreateAt" class="form-control" />
                <span asp-validation-for="QuestionCreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
